[defaults]
# to remove the warning that comes to the screen

deprecation_warnings = False

#when you first log into a server you get question like :
#"I don’t recognize this server, are you sure you want to trust it?"
# and you type yes to continue. This host_key_checking = False 
# removes this question

host_key_checking = False

#this is the default user for amazon linux
#for ubuntu the user is ubuntu.
# so this depends on you ami 

remote_user = ec2-user

#point this where aws private key is stored

private_key_file = ~/AWS_Projects/jenkins_ssh_key_pair.pem
interpreter_python=/usr/bin/python3

# Use the 'yaml' or 'debug' callback plugin
#to format the ansible output. without it the output looks cluttered.
results_format  = yaml

# Use this to ensure the plugin is loaded
bin_ansible_callbacks = True


[ssh_connection]
# Forces Ansible to use ONLY the key provided, avoiding "trial and error"
ssh_args = -o IdentitiesOnly=yes